@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code VF';
  src: url('../fonts/FiraCode-VF.woff2') format('woff2-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
