.header {
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media ($phone) {
      flex-direction: row;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
  }
}
