<header class="header">
  <span class="header__inner">
    {{ partial "logo.html" . }}
    <span class="header__right">
      {{ if len $.Site.Menus }}
        {{ partial "menu.html" . }}
      {{ end }}
      <span class="theme-toggle">
        <i class="ti ti-shadow" style="font-size: 24px;"></i>
      </span>
      <span class="lang-toggle">
        {{ partial "language-menu.html" . }}
      </span>
      {{ if len $.Site.Menus }}
        <span class="menu-trigger">
          <i class="ti ti-menu-2" style="font-size: 24px;"></i>
        </span>
      {{ end }}
    </span>
  </span>
</header>
